* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  background-color: #6b003e;
}
/*Elementos header*/
h1,
h2,
h3,
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  color: #120f28;
}
header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #023047a2;
  border-bottom: thin solid #023047;
}
.logo {
  width: 15vw;
  height: 18vh;
}
.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  color: #120f28;
}
.menuNav {
  display: none;
}
/*Elementos main*/
main {
  width: 100vw;
  height: 62vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("./Recursos/fondo\ teleco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.titulo_container {
  width: 70vw;
  height: auto;
  background-color: #e5ff3a94;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  border-radius: 50%;
}
.container_subtitulo {
  width: 70vw;
  background-color: #e5ff3a94;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  border-radius: 50%;
}
.titulo_landing {
  font-size: 120px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.subtitulo_landing {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(0, 0, 0);
}
#btn_loquiero {
  border-radius: 10%;
  background-color: rgb(255, 0, 0);
  width: 20vw;
  height: 10vh;
}

/*Elementos footer*/
footer {
  width: 100%;
  height: 18vh;
  background-color: #023047a2;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: fixed;
}
.listafooter {
  height: 14vh;
  color: white;
}
.icono {
  width: 20px;
  height: 20px;
}
.copyright {
  display: flex;
  align-items: center;
  height: 15vh;
  flex-direction: column;
  justify-content: flex-end;
}
.h2_footer {
  color: white;
}
